@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: #222;
  background: #fff;
  font-family: 'Times New Roman', Times, serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #fff;
    background: #222;
  }
}
